{#
SPDX-FileCopyrightText: 2013 - 2022 Philipp Kaluza <consult@ghostroute.eu>
SPDX-FileCopyrightText: 2016 - 2026 Markus Katharina Brechtel <markus.katharina.brechtel@thengo.net>

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if static_htpasswd_contents.rc == 0 %}
{{ static_htpasswd_contents.stdout }}
{%endif %}
{% for client in groups['backup_clients'] %}
{{ hostvars[client].ansible_facts.ansible_local.backupuser_htpasswds.backupuser_htpasswds.pw1 }}
{% endfor %}
