# SPDX-FileCopyrightText: 2016 - 2026 Mirian Brechtel <markus.katharina.brechtel@thengo.net>
# SPDX-FileCopyrightText: 2020 - 2025 Uniklinik Köln
# SPDX-FileCopyrightText: 2025 - 2026 Goethe-University Frankfurt – Institute for Digital Medicine and Clinical Data Science
#
# SPDX-License-Identifier: EUPL-1.2

# checker systemd units

[Unit]
Description=Run checker %i hourly (with a small random delay).

[Timer]
OnUnitActiveSec=1h
OnBootSec=5min
RandomizedDelaySec=300
Unit=checker@%i.service
