{{ ansible_managed | comment }}

<VirtualHost *:443>

  ServerName {{ mailserver_domain_name }}

  ErrorLog ${APACHE_LOG_DIR}/error-sympa-{{ mailserver_domain_name }}.log
  CustomLog ${APACHE_LOG_DIR}/access-sympa-{{ mailserver_domain_name }}.log combined

  DocumentRoot /var/www/html

  RewriteEngine On
  RewriteRule ^/?$ https://%{SERVER_NAME}/wws [QSA,R=301,L]

  SSLEngine on
  SSLCertificateFile "/etc/ssl/certs/{{mailserver_domain_name}}.cert.pem"
  SSLCertificateKeyFile "/etc/ssl/private/{{mailserver_domain_name}}.key.pem"
  {% if not certificate_provider == "selfsigned" %}
  SSLCertificateChainFile "/etc/ssl/certs/{{mailserver_domain_name}}.chain.pem"
  {% endif %}
</VirtualHost>

