# SPDX-FileCopyrightText: 2013-2022 Philipp Kaluza <consult@ghostroute.eu>
# SPDX-FileCopyrightText: 2016-2026 Markus Katharina Brechtel <markus.katharina.brechtel@thengo.net>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

# This file is managed by the osahris.cute_devops.restic_client Ansible role!
# MANUAL CHANGES WILL BE OVERWRITTEN WITHOUT WARNING!

[Unit]
Description=One-shot restic backup run for configuration %I
Documentation=man:restic(1)
ConditionACPower=true
After=network.target network-online.target systemd-networkd.service NetworkManager.service connman.service

[Service]
Type=oneshot
EnvironmentFile=/etc/restic/config/%i.env
#ExecStart=/bin/bash -c '(echo -n %I: ; date ; env ) > /tmp/restic-backup-%i.log'
ExecStart=/usr/bin/restic backup $RESTIC_FLAGS $RESTIC_FLAGS_CACERT $RESTIC_DIRECTORIES

