{#
SPDX-FileCopyrightText: 2013 - 2022 Philipp Kaluza <consult@ghostroute.eu>
SPDX-FileCopyrightText: 2016 - 2026 Markus Katharina Brechtel <markus.katharina.brechtel@thengo.net>

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% for server in groups['backup_servers'] %}
{{ hostvars[server].ansible_facts.ansible_local.restic_server_cert.restic_server_cert.cert | regex_replace('\\\\n', '\\n') }}
{% endfor %}
