# SPDX-FileCopyrightText: 2013 - 2022 Philipp Kaluza <consult@ghostroute.eu>
# SPDX-FileCopyrightText: 2016 - 2026 Mirian Brechtel <markus.katharina.brechtel@thengo.net>
# SPDX-FileCopyrightText: 2020 - 2025 Uniklinik Köln
# SPDX-FileCopyrightText: 2025 - 2026 Goethe-University Frankfurt – Institute for Digital Medicine and Clinical Data Science
#
# SPDX-License-Identifier: AGPL-3.0-or-later

# This file is managed by the osahris.cute_devops.restic_client Ansible role!
# MANUAL CHANGES WILL BE OVERWRITTEN WITHOUT WARNING!
[Unit]
Description=Daily restic backup run for directory %I

[Timer]
OnCalendar=*-*-* 03:00:00
RandomizedDelaySec=5h
Persistent=true
Unit=restic-backup-oneshot@%i.service

[Install]
WantedBy=timers.target
