{#
SPDX-FileCopyrightText: 2023-2024 Markus Katharina Brechtel <markus.katharina.brechtel@thengo.net>
SPDX-FileCopyrightText: 2023-2024 Uniklinik Köln
SPDX-FileCopyrightText: 2024 Tom-Robin Raja <tom-robin.raja@uk-koeln.de>

SPDX-License-Identifier: Apache-2.0 OR EUPL-1.2
#}

## configuration for virtual robot {{ virtual_domain }}

wwsympa_url     https://{{ virtual_domain }}/wws
soap_url	      https://{{ virtual_domain }}/sympasoap
cookie_domain   {{ virtual_domain }}
listmaster      {{ sympa_listmaster_emails | join(',') }}
create_list	public_listmaster
default_home    lists
title           {{ virtual_domain }}
lang	{{ sympa_language }}
