[Unit]
Description=RPS-Admin Service (create family.xml)

[Service]
Environment=SUITE=%i
ExecStart=/bin/bash -c 'cd /opt/rps-admin-tools/%i && source /opt/rps-admin-tools/%i/test.env && rps-admin sync sympa family && mv /opt/rps-admin-tools/%i/family.xml /etc/sympa/%i/families/rps-sync/rps-sync.xml && chown -R sympa:sympa /etc/sympa/ && /usr/lib/sympa/bin/sympa.pl --debug --log_level=3 --instantiate_family rps-sync --robot %i --close_unknown --input_file /etc/sympa/%i/families/rps-sync/rps-sync.xml'

[Install]
WantedBy=multi-user.target