[Unit]
Description=RPS-Admin Service (create family.xml)

[Service]
Environment=SUITE=%i
WorkingDirectory=/opt/rps-admin-tools/%i
ExecStart=/bin/bash -c 'source /etc/rps-admin-tools/mailinglists/%i.env && rps-admin sync sympa family'
ExecStart=mv /opt/rps-admin-tools/%i/family.xml /etc/sympa/%i/families/rps-sync/rps-sync.xml
ExecStart=/usr/lib/sympa/bin/sympa.pl --debug --log_level=3 --instantiate_family rps-sync --robot %i --close_unknown --input_file /etc/sympa/%i/families/rps-sync/rps-sync.xml
ExecStart=/bin/bash -c 'SYMPA_TEMP_ALIASES=$(/usr/lib/sympa/bin/sympa.pl make_alias_file %i | sed -n "s/^Sympa aliases file \(.*\) was made.*/\1/p") && cat $SYMPA_TEMP_ALIASES > {{ sympa_mail_alias_file }} && sudo -u sympa postmap {{ sympa_mail_alias_file }} && rm $SYMPA_TEMP_ALIASES'
Type=oneshot

[Install]
WantedBy=multi-user.target
