[Unit]
Description=RPS-Admin Service (start sympa data-source-webserver)

[Service]
Environment=SUITE=%i
ExecStart=/bin/bash -c 'cd /opt/rps-admin-tools/%i && source /etc/rps-admin-tools/mailinglists/%i.env && rps-admin sync sympa webserver'

[Install]
WantedBy=multi-user.target