#!/bin/sh -ex
{#
SPDX-FileCopyrightText: 2016-2026 Mirian Brechtel <markus.katharina.brechtel@thengo.net>

SPDX-License-Identifier: EUPL-1.2
#}
# This file is managed by the osahris.cute_devops.deploy_ansible_pull Ansible role!
# MANUAL CHANGES WILL BE OVERWRITTEN WITHOUT WARNING!

exec ansible-pull \
{{deploy_ansible_pull_common_option_args}} \
{{deploy_ansible_pull_playbooks_args}}
