{#
SPDX-FileCopyrightText: 2016-2026 Markus Katharina Brechtel <markus.katharina.brechtel@thengo.net>

SPDX-License-Identifier: AGPL-3.0-or-later
#}

# This file is managed by the mkbrechtel.devops.deploy_ansible_pull Ansible role!
# MANUAL CHANGES WILL BE OVERWRITTEN WITHOUT WARNING!

ANSIBLE_LOCALHOST_WARNING=False
ANSIBLE_INVENTORY_UNPARSED_WARNING=False

{% if deploy_ansible_pull_collections_path %}
{% if deploy_ansible_pull_collections_path is iterable %}
ANSIBLE_COLLECTIONS_PATH={{deploy_ansible_pull_collections_path|join(":")}}
{% else %}
ANSIBLE_COLLECTIONS_PATH={{deploy_ansible_pull_collections_path}}
{% endif %}
{% endif %}
