#!/usr/bin/ansible-playbook
{#
SPDX-FileCopyrightText: 2016-2026 Markus Katharina Brechtel <markus.katharina.brechtel@thengo.net>

SPDX-License-Identifier: AGPL-3.0-or-later
#}
# This file is managed by the mkbrechtel.devops.deploy_ansible_play Ansible role!
# MANUAL CHANGES WILL BE OVERWRITTEN WITHOUT WARNING!
---

{{ deploy_ansible_play_init_playbook | to_nice_yaml }}
