#!/usr/bin/ansible-playbook
{#
SPDX-FileCopyrightText: 2016-2026 Mirian Brechtel <markus.katharina.brechtel@thengo.net>

SPDX-License-Identifier: EUPL-1.2
#}
# This file is managed by the osahris.cute_devops.deploy_ansible_play Ansible role!
# MANUAL CHANGES WILL BE OVERWRITTEN WITHOUT WARNING!
---

{{ deploy_ansible_play_deploy_playbook | to_nice_yaml }}
