{#
SPDX-FileCopyrightText: 2016-2026 Mirian Brechtel <markus.katharina.brechtel@thengo.net>

SPDX-License-Identifier: EUPL-1.2
#}

# This file is managed by the osahris.cute_devops.deploy_ansible_play Ansible role!
# MANUAL CHANGES WILL BE OVERWRITTEN WITHOUT WARNING!

ANSIBLE_LOCALHOST_WARNING=False
ANSIBLE_INVENTORY_UNPARSED_WARNING=False

{% if deploy_ansible_play_collections_path %}
{% if deploy_ansible_play_collections_path is iterable %}
ANSIBLE_COLLECTIONS_PATH={{deploy_ansible_play_collections_path|join(":")}}
{% else %}
ANSIBLE_COLLECTIONS_PATH={{deploy_ansible_play_collections_path}}
{% endif %}
{% endif %}
