# SPDX-FileCopyrightText: 2016-2026 Markus Katharina Brechtel <markus.katharina.brechtel@thengo.net>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

[Unit]
Description=Deploy %i hourly (with a small random delay)!

[Timer]
OnUnitActiveSec=1h
OnBootSec=5min
RandomizedDelaySec=300
Unit=deploy@%i.service
