# SPDX-FileCopyrightText: 2016-2026 Markus Katharina Brechtel <markus.katharina.brechtel@thengo.net>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

[Unit]
Description=Deploy %i daily at noon (with a small random delay)!

[Timer]
OnCalendar=*-*-* 12:00:00
RandomizedDelaySec=1800
Unit=deploy@%i.service
