# SPDX-FileCopyrightText: 2016-2026 Markus Katharina Brechtel <markus.katharina.brechtel@thengo.net>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

[Unit]
Description=Deploy %i minutely (with a small random delay)!

[Timer]
OnUnitInactiveSec=1min
OnBootSec=5min
RandomizedDelaySec=15
Unit=deploy@%i.service
