#!/bin/sh -e
{#
SPDX-FileCopyrightText: 2016-2026 Markus Katharina Brechtel <markus.katharina.brechtel@thengo.net>

SPDX-License-Identifier: AGPL-3.0-or-later
#}
# This file is managed by the mkbrechtel.sysops.deploy_test_ohai Ansible role!
# MANUAL CHANGES WILL BE OVERWRITTEN WITHOUT WARNING!

echo ohai $INSTANCE

date

echo invocation $INVOCATION_ID

echo i can haz deployment?

sleep 10

echo kthxbye
