#!/bin/sh
{#
SPDX-FileCopyrightText: 2016-2026 Markus Katharina Brechtel <markus.katharina.brechtel@thengo.net>

SPDX-License-Identifier: AGPL-3.0-or-later
#}
# This file is managed by the mkbrechtel.sysops.deploy_test_ohai Ansible role!
# MANUAL CHANGES WILL BE OVERWRITTEN WITHOUT WARNING!

echo i can haz env?

sleep 1

echo in ur env
