{#
SPDX-FileCopyrightText: 2023-2024 Markus Katharina Brechtel <markus.katharina.brechtel@thengo.net>
SPDX-FileCopyrightText: 2023-2024 Uniklinik Köln

SPDX-License-Identifier: Apache-2.0 OR EUPL-1.2
#}

{{ansible_managed|comment}}

{% if postfix_virtual_mailbox_maps is defined %}
{% for from in postfix_virtual_mailbox_maps %}
{% set to = postfix_virtual_mailbox_maps[from] %}
{{from}}  {{to}}
{% endfor %}
{% endif %}
