{#
SPDX-FileCopyrightText: 2016-2026 Markus Katharina Brechtel <markus.katharina.brechtel@thengo.net>

SPDX-License-Identifier: EUPL-1.2
#}

#!/bin/bash
# This file is managed by the osahris.cute_devops.check_disk Ansible role!
# MANUAL CHANGES WILL BE OVERWRITTEN WITHOUT WARNING!

OPTIONS=""

{% if check_disk_warning is string and check_disk_warning.endswith('%') %}
OPTIONS="$OPTIONS -w {{ check_disk_warning }}"
{% else %}
OPTIONS="$OPTIONS -w {{ check_disk_warning }}{{ 'MB' if check_disk_units == 'MB' else '' }}"
{% endif %}

{% if check_disk_critical is string and check_disk_critical.endswith('%') %}
OPTIONS="$OPTIONS -c {{ check_disk_critical }}"
{% else %}
OPTIONS="$OPTIONS -c {{ check_disk_critical }}{{ 'MB' if check_disk_units == 'MB' else '' }}"
{% endif %}

{% for path in check_disk_paths %}
OPTIONS="$OPTIONS -p {{ path }}"
{% endfor %}

{% for type in check_disk_exclude_types %}
OPTIONS="$OPTIONS -X {{ type }}"
{% endfor %}

{% for type in check_disk_include_types %}
OPTIONS="$OPTIONS -N {{ type }}"
{% endfor %}

{% if check_disk_local_only %}
OPTIONS="$OPTIONS -l"
{% endif %}

OPTIONS="$OPTIONS -t {{ check_disk_timeout }}"
OPTIONS="$OPTIONS -u {{ check_disk_units }}"

exec /usr/lib/nagios/plugins/check_disk $OPTIONS
