user = {{postfix_postfixadmin_mysql_username}}
password = {{postfix_postfixadmin_mysql_password}}
hosts = {{postfix_postfixadmin_mysql_host}}
dbname = {{postfix_postfixadmin_mysql_database}}
query = SELECT maildir FROM mailbox,alias_domain WHERE alias_domain.alias_domain = '%d' and mailbox.username = CONCAT('%u', '@', alias_domain.target_domain) AND mailbox.active = 1 AND alias_domain.active='1'
