# SPDX-FileCopyrightText: 2016-2026 Markus Katharina Brechtel <markus.katharina.brechtel@thengo.net>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

[Unit]
Description=Deploy %i!

[Service]
WorkingDirectory=%h/.config/deploy/%i
ExecStart=/usr/bin/run-parts --verbose %h/.config/deploy/%i
ExecStopPost=/etc/deploy/notify.sh "%H" "%i" "${EXIT_STATUS}" "/run/deploy/%i.out"
EnvironmentFile=%h/.config/deploy/%i/deploy.env

[Install]
WantedBy=deploy.target
