{#
SPDX-FileCopyrightText: 2016-2026 Markus Katharina Brechtel <markus.katharina.brechtel@thengo.net>

SPDX-License-Identifier: AGPL-3.0-or-later
#}

# This file is managed by the mkbrechtel.devops.ansible Ansible role!
# MANUAL CHANGES WILL BE OVERWRITTEN WITHOUT WARNING!

[defaults]
callback_result_format = yaml
interpreter_python = auto_silent
force_handlers = True
pipelining = {{ ansible_use_pipelining | bool }}
{% if ansible_use_mitogen %}
strategy = mitogen_linear
{% endif %}
