{#
SPDX-FileCopyrightText: 2023-2024 Mirian Brechtel <markus.katharina.brechtel@thengo.net>
SPDX-FileCopyrightText: 2023-2024 Uniklinik Köln

SPDX-License-Identifier: Apache-2.0 OR EUPL-1.2
#}

user = {{postfix_postfixadmin_mysql_username}}
password = {{postfix_postfixadmin_mysql_password}}
hosts = {{postfix_postfixadmin_mysql_host}}
dbname = {{postfix_postfixadmin_mysql_database}}
query = SELECT goto FROM alias,alias_domain WHERE alias_domain.alias_domain = '%d' and alias.address = CONCAT('%u', '@', alias_domain.target_domain) AND alias.active = 1 AND alias_domain.active='1'
