{#
SPDX-FileCopyrightText: 2016-2026 Markus Katharina Brechtel <markus.katharina.brechtel@thengo.net>

SPDX-License-Identifier: EUPL-1.2
#}

#!/bin/sh
# This file is managed by the osahris.cute_devops.check_ping Ansible role!
# MANUAL CHANGES WILL BE OVERWRITTEN WITHOUT WARNING!

exec /usr/lib/nagios/plugins/check_ping -H {{ check_ping_hostname }} -w 10,2% -c 20,5%
