{#
SPDX-FileCopyrightText: 2016-2026 Markus Katharina Brechtel <markus.katharina.brechtel@thengo.net>

SPDX-License-Identifier: AGPL-3.0-or-later
#}

#!/bin/sh
# This file is managed by the mkbrechtel.devops.check_systemd Ansible role!
# MANUAL CHANGES WILL BE OVERWRITTEN WITHOUT WARNING!

exec /usr/lib/nagios/plugins/check_systemd -n
