{{ ansible_managed | comment }}

<VirtualHost *:443>
    DocumentRoot /var/www/html

    ServerAdmin {{ sympa_admin_email }}

    ServerName {{ sympa_web_domain }}
    ServerSignature off

    RewriteEngine On
    RewriteRule ^/?$ https://%{SERVER_NAME}/sympa [QSA,R=301,L]

    ErrorLog ${APACHE_LOG_DIR}/error_{{ sympa_web_domain }}.log
    CustomLog ${APACHE_LOG_DIR}/access_{{ sympa_web_domain }}.log combined

    SSLEngine on
    SSLCertificateFile "/etc/ssl/certs/{{sympa_web_domain}}.cert.pem"
    SSLCertificateKeyFile "/etc/ssl/private/{{sympa_web_domain}}.key.pem"
    {% if not certificate_provider == "selfsigned" %}
    SSLCertificateChainFile "/etc/ssl/certs/{{sympa_web_domain}}.chain.pem"
    {% endif %}

    Alias /static-sympa {{ sympa_install_directory }}/static_content

    <Location /static-sympa>
      Require all granted
    </Location>

    <Location /sympa>
      SetHandler "proxy:unix:/var/run/wwsympa/wwsympa.socket|fcgi://localhost"
      Require all granted
    </Location>

    <Location /sympasoap>
      SetHandler "proxy:unix:/var/run/sympasoap/sympasoap.socket|fcgi://localhost"
      Require all granted
    </Location>

</VirtualHost>

<VirtualHost *:80>

  ServerAdmin {{ sympa_admin_email }}

  ServerName {{ sympa_web_domain }}

  RewriteEngine On
  RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

  Alias /.well-known/acme-challenge/ /var/www/default/.well-known/acme-challenge/

</VirtualHost>
