include_remote_file
  name rps-sync-editors
  url http://{{sympa_mailinglist_envs[virtual_domain].sympa_source_webserver_ip}}:{{sympa_mailinglist_envs[virtual_domain].sympa_source_webserver_port}}/[% param.0 %]/editors
