{#
SPDX-FileCopyrightText: 2023-2024 Mirian Brechtel <markus.katharina.brechtel@thengo.net>
SPDX-FileCopyrightText: 2023-2024 Uniklinik Köln

SPDX-License-Identifier: Apache-2.0 OR EUPL-1.2
#}

{{ansible_managed|comment}}

##
## LMTP specific settings
##

protocol lmtp {
  # Space separated list of plugins to load (default is global mail_plugins).
  #mail_plugins =
}
