<VirtualHost *:80>
        ServerAdmin webmaster@localhost

        Redirect / https://{{inventory_hostname}}/

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
