<VirtualHost _default_:443>

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

        DocumentRoot /var/www/default/
        <Directory "/var/www/default/">
                Options -Indexes
        </Directory>

        SSLEngine on
        SSLCertificateFile "/etc/ssl/certs/ssl-cert-snakeoil.pem"
        SSLCertificateKeyFile "/etc/ssl/private/ssl-cert-snakeoil.key"

</VirtualHost>

<VirtualHost _default_:80>

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

        DocumentRoot /var/www/default/
        <Directory "/var/www/default/">
                Options -Indexes
        </Directory>

        # redirect to https if file could not be found in /var/www/default/
        RewriteEngine On
        RewriteRule ^\/\.well-known\/acme-challenge\/ - [L]
        RewriteRule (.*) https://%{SERVER_NAME}/$1 [R,L]

</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
