{#
SPDX-FileCopyrightText: 2024 Mirian Brechtel <markus.katharina.brechtel@thengo.net>
SPDX-FileCopyrightText: 2024 Uniklinik Köln

SPDX-License-Identifier: Apache-2.0 OR EUPL-1.2
#}

[
"CA:{{certificate_authority|ternary('TRUE','FALSE')}}",
{% if certificate_pathlen is defined %}
"pathlen:{{certificate_pathlen}}",
{% endif %}
]
