{{ ansible_managed | comment }}

{% for domain in sympa_domains | union([sympa_main_domain]) %}

<VirtualHost *:443>

  ServerName {{ domain }}

  ErrorLog ${APACHE_LOG_DIR}/error-sympa-{{ domain }}.log
  CustomLog ${APACHE_LOG_DIR}/access-sympa-{{ domain }}.log combined

  DocumentRoot /var/www/html

  RewriteEngine On
  RewriteRule ^/?$ https://%{SERVER_NAME}/wws [QSA,R=301,L]

  include /etc/apache2/conf-available/sympa.conf

  SSLEngine on
  SSLCertificateFile "/etc/ssl/certs/{{domain}}.cert.pem"
  SSLCertificateKeyFile "/etc/ssl/private/{{domain}}.key.pem"
  {% if not certificate_provider == "selfsigned" %}
  SSLCertificateChainFile "/etc/ssl/certs/{{domain}}.chain.pem"
  {% endif %}
</VirtualHost>

{% endfor %}
