{#
SPDX-FileCopyrightText: 2023-2024 Mirian Brechtel <markus.katharina.brechtel@thengo.net>
SPDX-FileCopyrightText: 2023-2024 Uniklinik Köln

SPDX-License-Identifier: Apache-2.0 OR EUPL-1.2
#}

{{ ansible_managed | comment}}

{% for domain in sympa_domains | union([sympa_main_domain]) %}
# {{domain}}
{{domain}}                  error:User unknown in recipient table
sympa@{{ domain }}          sympa:sympa@{{ domain }}
listmaster@{{ domain }}     sympa:listmaster@{{ domain }}
bounce@{{ domain }}         sympabounce:sympa@{{ domain }}
abuse-feedback-report@{{ domain }}  sympabounce:sympa@{{ domain }}
{% endfor %}
