{#
SPDX-FileCopyrightText: 2016-2026 Mirian Brechtel <markus.katharina.brechtel@thengo.net>

SPDX-License-Identifier: EUPL-1.2
#}

[
  {
    "id": "deploy",
    "execute-command": "/usr/bin/sudo",
    "command-working-directory": "/tmp",
    "pass-arguments-to-command": [
      {
        "source": "string",
        "name": "/usr/local/bin/deploy"
      },
      {
        "source": "url",
        "name": "instance"
      }
    ],
    "response-message": "Deployment triggered for instance",
    "trigger-rule": {
      "and": [
        {
          "match": {
            "type": "payload-hmac-sha256",
            "secret": "{{ webhook_server_auth_password }}",
            "parameter": {
              "source": "header",
              "name": "X-Webhook-Signature"
            }
          }
        },
        {
          "match": {
            "type": "value",
            "value": "deploy",
            "parameter": {
              "source": "payload",
              "name": "action"
            }
          }
        },
        {
          "match": {
            "type": "regex",
            "regex": "^[a-z0-9.-]{1,128}$",
            "parameter": {
              "source": "url",
              "name": "instance"
            }
          }
        }
      ]
    }
  }
]