{{ ansible_managed | comment}}

{% for domain in sympa_domains %}
# {{domain}}
{{domain}}                  error:User unknown in recipient table
sympa@{{ domain }}          sympa:sympa@{{ domain }}
listmaster@{{ domain }}     sympa:listmaster@{{ domain }}
bounce@{{ domain }}         sympabounce:sympa@{{ domain }}
abuse-feedback-report@{{ domain }}  sympabounce:sympa@{{ domain }}
{% endfor %}
